ul#horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--tertiary-color);
    text-align: center;
}

ul#horizontal-list li {
    float: left;
    text-align: center;
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.card-contents {
    text-decoration: none;
    display: block;
}

.card-contents img {
    display: block;
    margin: auto;
}

.temps {
    text-align: center;
    list-style-type: none;
    margin: auto;
}

.max-temp {
    color: white;
}

.min-temp {
    color: darkgray;
}

