ul#horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--tertiary-color);
    color: var(--text);
    text-align: center;
}

ul#horizontal-list li {
    float: left;
    text-align: center;
    display: inline;
    padding: 16px;
}

ul#horizontal-list p {
    text-decoration: none;
    color: var(--light-text);
}

ul#horizontal-list li:hover {
    filter: brightness(0.4);
}

.card-contents {
    text-decoration: none;
    display: block;
}

.card-contents img {
    display: block;
    margin: auto;
}

.temps {
    text-align: center;
    list-style-type: none;
    margin: auto;
}

.max-temp {
    color: var(--light-text);
}

.min-temp {
    color: var(--text);
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--contrast);
    color: var(--text);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
