.weather-box {
    width: 100%;
    overflow: hidden;
    text-align: center;
    /*margin: 0 auto;*/
    /*display: block;*/
    position: relative;
}

#horizontal-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
    color: var(--text);
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
}

ul#horizontal-list li {
    float: left;
    text-align: center;
    display: inline;
    padding: 16px;
}

ul#horizontal-list p {
    text-decoration: none;
    color: var(--light-text);
}

ul#horizontal-list li:hover {
    filter: brightness(0.8);
}

.day-card {
    border: 1px solid whitesmoke;
    background-color: rgba(175, 175, 175, 0.8);
}

.day-card a {
    text-decoration: none;
}

.card-contents img {
    display: block;
    margin: auto;
}

.temps {
    text-align: center;
    list-style-type: none;
    margin: auto;
}

.max-temp {
    color: var(--light-text);
}

.min-temp {
    color: var(--text);
}

.input-form {
    margin: 20px;
}

.text-field {
    outline: none;
    line-height: 20px;
    border: 0;
    background-color: rgba(175, 175, 175, 0.8);
    border-bottom: 1px solid darkgray;
    padding: 5px 10px;
}

.text-field::placeholder {
    color: var(--light-text);
}

.submit-button {
    border-radius: 0 4px 4px 0;
    line-height: 20px;
    color: whitesmoke;
    background: gray;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid darkgray;
}

.submit-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
